<!DOCTYPE html>
<html lang="en">

<head>

<div class="jumbotron">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Book n Claim</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="js/bootstrap.min.js">
    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts-->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- 
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
 

</head>

<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Book n Claim</a>
        </div>
      </div>
      <div class="container-fluid" > 
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#notifications">Notifications   <span class="badge">7</span></a></li>
            <li><a data-toggle="tab" href="#addbooks">Add Books</a></li>
            <li class="nav navbar-nav navbar-right"><a href="index.html"><span class="glyphicon glyphicon-off"></span>Sign Out</a></li>
        </ul>
        
      </div>
      
   <style type="text/css">
    label{
        width:100%;
        text-align: right;
    }
    </style>    
  <div class="tab-content">
    <div id="notifications" class="tab-pane fade in active">
        <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <br>
          <h3>HOME</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    </div>
    <div id="addbooks" class="tab-pane fade">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <br>
          <h3>add books screen</h3>
          <form method="post" action="admin.html">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <label>Book Title  : </label>

                </div>    
                <div class="col-lg-4">
                    <input type="text"></input>
                </div>     
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <label>Authors  : </label>

                </div>    
                <div class="col-lg-4">
                    <input type="textarea" rows="2"></input>
                </div>     
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <label>Edition  : </label>

                </div>    
                <div class="col-lg-4">
                    <input type="number"></input>
                </div>     
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <label>Individual Price  : </label>

                </div>    
                <div class="col-lg-4">
                    <input type="text"></input>
                </div>     
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <label>Quantity  : </label>

                </div>    
                <div class="col-lg-4">
                    <input type="number"></input>
<style>
  .jumbotron {
background-image: url("book.jpg");
      
      color: black;
  }
  </style>
                </div>     
            </div>
            <br>
            
            <br>
            <div class="row">
            <div class="jumbotron">
                <div class="col-lg-4 col-lg-offset-4" style="backgroundcolor:red;"> 
                    <button type="submit" name="loginstudent" class="btn btn-success" style="width:100%;">   Login </button>
                </div>
            </div>
          </form>
          <br>
          <br>
        </div>
    </div>
    
  </div>
</div>

    </nav>

    <!-- Footer -->
    <footer>
        <div class="jumbotron">
        <div class="container text-center">
            <p>Copyright &copy; Book n Claim 2016</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ 
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>-->

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

</body>

</html>
